@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --grey-dark: #363636;
  --black: #000000;
  --black-opacity-0-3: rgba(0, 0, 0, 0.3);
  --black-opacity-0-4: rgba(0, 0, 0, 0.4);
  --white: #ffffff;
  --grey-light: #e5e5e5;
  --grey-darken: #eaeaea;
  --grey-lighen: #f2f2f2;
  --red-light: #f6dada;
  --pagination: #ebebeb;
  --pagination-hover: #d9d9d9;
  --filter-heading: #dcdcdc;
}

/* Global */

.page-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--black, black);
  background-color: var(--white, white);
}

.page a {
  text-decoration: none;
  color: var(--black);
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

/* Hide element */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* List */

.main-nav__list,
.main-nav__subnav-list,
.main-nav__dropnav-list,
.promo__list,
.products__list,
.features__list,
.features-blocks__list,
.partners__list,
.about-us__services-list,
.main-footer__list,
.main-footer__subnav-list,
.social__list,
.breadcrumbs__list,
.catalog__list,
.catalog__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Titles */

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 9.4px;
}

/* :hover :active :focus */

.opacity:hover {
  opacity: 0.6;
}

.opacity:active {
  opacity: 0.3;
}

/* Button */

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.button-no-style {
  border: none;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
}

.btn {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 33.3%,
    var(--special-yellow-dark) 33.3%,
    var(--special-yellow-dark) 66.6%,
    transparent 66.6%,
    transparent
  );
  transition-duration: 20s;
  transition-property: background-image;
  display: inline-block;
  width: 220px;
  height: 40px;
  text-align: center;
  vertical-align: bottom;
}

.btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--special-yellow-dark),
    var(--special-yellow-dark) 33.3%,
    var(--special-yellow-dark) 33.3%,
    var(--special-yellow-dark) 66.6%,
    var(--special-yellow-dark) 66.6%,
    var(--special-yellow-dark)
  );
}

.btn:active {
  background-image: linear-gradient(
    to bottom,
    var(--special-yellow-dark),
    var(--special-yellow-dark) 33.3%,
    var(--special-yellow-dark) 33.3%,
    var(--special-yellow-dark) 66.6%,
    var(--special-yellow-dark) 66.6%,
    var(--special-yellow-dark)
  );
  color: var(--black-opacity-0-3);
}

/* Header */

/* Logo */

.main-header-logo {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--special-yellow) 50%,
    var(--special-yellow)
  );
}

/* Form */

.main-nav__form::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-search.svg");
  width: 16px;
  height: 16px;
  left: -40px;
}

/* Main nav */

.main-nav__item-1::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  width: 16px;
  height: 16px;
}

/* Drop nav */

.main-nav__dropnav-list {
  display: none;
}

/* Footer */

.main-footer {
  background-color: var(--grey-dark, #363636);
  color: var(--white);
}

.main-footer a {
  color: var(--white);
}

.main-footer__logo-img {
  fill: var(--special-yellow-dark, #f0c52e);
}

/* Address */

.address,
.tel {
  font-style: normal;
}

/* Social */

.social__item:hover .social__button {
  fill-opacity: 0.6;
}

.social__item:active .social__button {
  opacity: 0.1;
}

/* Modal */

.modal {
  display: none;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

/* Feedback Modal  */

.feedback-modal__name,
.feedback-modal__e-mail,
.feedback-modal__message {
  border: none;
}

.form-input {
  background-color: var(--grey-lighen);
  color: var(--black-opacity-0-4);
  border: none;
}

.form-input:hover {
  background-color: var(--grey-darken);
  color: var(--black-opacity-0-4);
}

.form-input:focus {
  background-color: var(--white, white);
  border: 2px solid var(--special-yellow);
  color: var(--grey-dark);
}

/* Index.html <main> */

/* Promo */

.promo {
  background-image: linear-gradient(
    to bottom,
    var(--special-yellow),
    var(--special-yellow) 10%,
    transparent 10%,
    transparent
  );
  margin: 0;
}

.promo__title {
  letter-spacing: normal;
}

.promo__description-term {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
}

.promo__description-definition {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
}

/* .promo__title::before {
  position: absolute;
  content: "01";
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 179px;
  color: var(--white);
  top: 250px;
  right: 250px;
}
*/

/* Products */

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  column-gap: 40px;
  margin: 40px 0;
}

.products__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.products__item:last-child {
  margin-right: 0;
}

.products__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.products__item {
  width: 160px;
  position: relative;
}

.products__product-1::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-1::after {
  background: url("../img/product-1.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 97px 55px;
  margin: 0 0 38px 0;
}

.products__item-1:active .products__product-1::after {
  opacity: 0.3;
}

.products__item-1:active .products__product-1 {
  color: var(--black-opacity-0-3);
}

.products__item-1:hover .products__product-1::before,
.products__item-1:active .products__product-1::before {
  background-color: var(--special-yellow-dark);
}

.products__product-2::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-2::after {
  background: url("../img/product-2.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 86px 117px;
  margin: 0 0 38px 0;
}

.products__item-2:active .products__product-2::after {
  opacity: 0.3;
}

.products__item-2:active .products__product-2 {
  color: var(--black-opacity-0-3);
}

.products__item-2:hover .products__product-2::before,
.products__item-2:active .products__product-2::before {
  background-color: var(--special-yellow-dark);
}

.products__product-3::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-3::after {
  background: url("../img/product-3.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 71px 87px;
  margin: 0 0 38px 0;
}

.products__item-3:active .products__product-3::after {
  opacity: 0.3;
}

.products__item-3:active .products__product-3 {
  color: var(--black-opacity-0-3);
}

.products__item-3:hover .products__product-3::before,
.products__item-3:active .products__product-3::before {
  background-color: var(--special-yellow-dark);
}

.products__product-4::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-4::after {
  background: url("../img/product-4.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 107px 65px;
  margin: 0 0 38px 0;
}

.products__item-4:active .products__product-4::after {
  opacity: 0.3;
}

.products__item-4:active .products__product-4 {
  color: var(--black-opacity-0-3);
}

.products__item-4:hover .products__product-4::before,
.products__item-4:active .products__product-4::before {
  background-color: var(--special-yellow-dark);
}

.products__product-5::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-5::after {
  background: url("../img/product-5.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 56px 98px;
  margin: 0 0 38px 0;
}

.products__item-5:active .products__product-5::after {
  opacity: 0.3;
}

.products__item-5:active .products__product-5 {
  color: var(--black-opacity-0-3);
}

.products__item-5:hover .products__product-5::before,
.products__item-5:active .products__product-5::before {
  background-color: var(--special-yellow-dark);
}

.products__product-6::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-6::after {
  background: url("../img/product-6.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 160px;
  height: 160px;
  background-size: 132px 69px;
  margin: 0 0 38px 0;
}

.products__item-6:active .products__product-6::after {
  opacity: 0.3;
}

.products__item-6:active .products__product-6 {
  color: var(--black-opacity-0-3);
}

.products__item-6:hover .products__product-6::before,
.products__item-6:active .products__product-6::before {
  background-color: var(--special-yellow-dark);
}

/* Partners */

.partners__img-filters {
  filter: grayscale(1) opacity(0.3);
}

.partners__img-filters:hover,
.partners__img-filters:active {
  filter: grayscale(0) opacity(1);
}

/* Features */

.features {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 25%,
    var(--grey-light) 25%,
    var(--grey-light)
  );
  padding-bottom: 70px;
}

.features__nav {
  display: grid;
  align-items: center;
  border-right: 7px solid var(--black);
}

.features__btn:active,
.features__btn-background-color:active {
  background-image: linear-gradient(
    to bottom,
    var(--black),
    var(--black) 33.3%,
    var(--black) 33.3%,
    var(--black) 66.6%,
    var(--black) 66.6%,
    var(--black)
  );
  color: var(--special-yellow);
}

.features-blocks::after {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background: url("../img/delivery.svg") no-repeat 50% 50%;
  background-size: 160px 160px;
  margin: 0;
  padding: 0;
}

/* About us */

.about-us__links {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
}

/* Catalog.html <main> */

/* Main */
.inner-page {
  font-size: 14px;
  line-height: 19px;
}

/* Breadcrumbs */

.breadcrumbs a[href] {
  opacity: 0.3;
}

.breadcrumbs a[href]:hover {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

/* Filter */

.filters-form__group {
  border-top: 3px solid var(--black);
}

.fieldset {
  border: none;
}

.filters-form input[type="checkbox"] {
  border: 2px solid var(--black);
  background-color: transparent;
}

.filters-form__group-title {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.4px;
}

/* Catalog */

.catalog-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.catalog-title__filter {
  align-self: center;
  margin: 0;
}

.catalog__sort {
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.catalog__sort:hover {
  opacity: 0.6;
}

.catalog__sort:active {
  opacity: 1;
}

.catalog__sort-to-top {
  background-color: transparent;
  border: none;
}

.catalog__sort-to-top-img {
  background-image: url("../img/icon-sort-up.svg");
  opacity: 0.3;
}

.catalog__sort-to-top:hover .catalog__sort-to-top-img {
  opacity: 0.6;
}

.catalog__sort-to-top:active .catalog__sort-to-top-img {
  opacity: 1;
}

.catalog__sort-to-bottom {
  background-color: transparent;
  border: none;
}

.catalog__sort-to-bottom-img {
  background-image: url("../img/icon-sort-down.svg");
}

.catalog__sort-to-bottom:hover .catalog__sort-to-bottom-img {
  opacity: 0.6;
}

.catalog__sort-to-bottom:active .catalog__sort-to-bottom-img {
  opacity: 1;
}

/* Catalog items */

.catalog__item {
  display: grid;
  width: 360px;
}

.catalog__item-price {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog__hover-item-compare {
  opacity: 0.5;
}

.catalog__hover-item-compare:hover {
  opacity: 1;
}

.catalog__hover-item-compare:active {
  opacity: 0.2;
}

/* Pagination */

.catalog__nav {
  width: 760px;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--pagination);
  margin: 0 0 78px 72px;
  align-items: center;
  justify-items: center;
}

.catalog__nav-back,
.catalog__nav-next {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: var(--black);
  background-color: transparent;
  text-transform: uppercase;
}

.catalog__nav-back:hover,
.catalog__nav-next:hover {
  background-color: var(--pagination-hover);
}

.catalog__nav-back:active,
.catalog__nav-next:active {
  background-color: var(--pagination-hover);
  color: var(--black-opacity-0-3);
}

.catalog__nav-back[disabled]:hover,
.catalog__nav-next[disabled]:hover {
  background-color: transparent;
}

.catalog__nav-item {
  opacity: 0.3;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.catalog__nav-item:hover {
  opacity: 0.6;
}

.catalog__nav-item:active {
  opacity: 1;
}

.current,
.current:hover {
  opacity: 1;
}

/* Layout */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Layout <header> */

/* Layout <header> .logo */

.main-header-logo {
  padding: 20px 60px;
}

.main-nav {
  max-width: 1160px;
  display: grid;
  margin: 0 auto;
}

.main-nav__container {
  width: calc(1160px - 60px * 2);
  display: grid;
  padding: 20px 60px;
  background-color: var(--special-yellow);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "form main-nav"
    "sub-nav sub-nav"
    "drop-nav .";
}

/* Layou <header> for form */

.main-nav__form {
  grid-area: form;
}

/* Layout <header> for main-nav__list */

.main-nav__list {
  grid-area: main-nav;
  display: flex;
  justify-content: flex-end;
}

.main-nav__item-1 {
  text-align: left;
}

.main-nav__item {
  margin-right: 44px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

/* Layot <header> for .main-nav__subnav-list */

.main-nav__subnav-list {
  grid-area: sub-nav;
}

/* Layot <header> for .main-nav__dropnav-list */

.main-nav__dropnav-list {
  grid-area: drop-nav;
}

/* Layout <footer> */

.main-footer {
  display: grid;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

.main-footer__container {
  width: 1160px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  padding: 65px 0;
}

.first-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "logo . ."
    ". . main-footer__list";
}

.main-footer__logo {
  grid-area: logo;
}

.main-footer__list {
  grid-area: main-footer__list;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.main-footer__item {
  margin-left: 38px;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tel {
  width: 100%;
  text-align: end;
}

.main-footer__subnav-list {
  display: flex;
  justify-content: space-around;
}

.third-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". social__list logo-htmlacademy";
}

.social__list {
  grid-area: social__list;
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.logo-htmlacademy {
  grid-area: logo-htmlacademy;
  justify-self: end;
}

/* Layout <main> for index.html */

/* Layout <main> */

.main__container {
  width: 1160px;
  display: grid;
  margin: 0 auto;
  gap: 90px;
}

/* Layout .promo */

.promo__list {
  display: grid;
  row-gap: 100px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  gap: 30px;
}

.promo__item {
  display: grid;
  padding: 0 60px 0 89px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}

.promo__img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.promo__title {
  margin-top: 20%;
}

.promo__description-list {
  display: flex;
}

/* Layout .products */

.products {
  grid-row: 2 / 3;
}

/* Layout .features */

.features {
  margin: 90px 0;
}

.features__container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-row: 3 / 4;
  gap: 40px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 320px;
}

.features-blocks {
  display: grid;
  grid-template-columns: 1fr 160px;
  align-items: center;
}

/* Layout .partners */

.partners {
  display: grid;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

/* Layout .wrapper (.about-us and .contacts) */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Layout <main> for catalog.html */

/* Layout .inner-page */

.inner-page {
  min-width: 1160px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: auto 19px 1fr;
  grid-template-areas:
    ". h1 h1 ."
    ". breadcrumbs breadcrumbs ."
    ". filter catalog .";
}

.inner-page__title {
  grid-area: h1;
  margin-left: 60px;
}

.breadcrumbs__list {
  grid-area: breadcrumbs;
  display: flex;
  margin-left: 60px;
}

.breadcrumbs__item {
  margin-right: 20px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.filter {
  grid-area: filter;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.filter__title {
  position: relative;
  display: grid;
  align-items: center;
  padding: 0 68px 0 60px;
}

.filter__title::before {
  width: 100vw;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--filter-heading);
}

.filter__form {
  max-width: 328px;
  position: relative;
  padding: 0 68px 0 60px;
  box-sizing: border-box;
}

.filter__form::before {
  width: 100vw;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--grey-light);
}

.catalog {
  grid-area: catalog;
  display: grid;
  grid-template-rows: 70px min-content 1fr;
}

.sort {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
}

.sort::after {
  width: 100vw;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--grey-light);
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 69px 0 40px 72px;
}

.catalog__nav {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}

.catalog__nav-back {
  order: -1;
}

.catalog__nav-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}
