@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --footer-line: #ffc600;
  --grey-dark: #363636;
  --black: #000000;
  --black-opacity-0-3: rgba(0, 0, 0, 0.3);
  --black-opacity-0-4: rgba(0, 0, 0, 0.4);
  --white: #ffffff;
  --white-opacity-0-3: rgba(255, 255, 255, 0.3);
  --white-opacity-0-7: rgba(255, 255, 255, 0.7);
  --grey-light: #e5e5e5;
  --grey-darken: #eaeaea;
  --grey-lighen: #f2f2f2;
  --catalog-item-hover: rgba(238, 238, 238, 0.7);
  --red-light: #f6dada;
  --pagination: #ebebeb;
  --pagination-hover: #d9d9d9;
  --filter-heading: #dcdcdc;
}

/* Global */

.page-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--black, black);
  background-color: var(--white, white);
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* Hide element */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* List */

.main-nav__list,
.main-nav__subnav-list-left,
.main-nav__subnav-list-right,
.main-nav__dropnav-list,
.promo__list,
.products__list,
.features__list,
.features__list-right,
.partners__list,
.about-us__services-list,
.main-footer__nav-list,
.main-footer__subnav-list,
.social__list,
.breadcrumbs__list,
.catalog__list,
.catalog__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Titles */

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 9.4px;
}

/* :hover :active :focus */

.opacity:hover {
  opacity: 0.6;
}

.opacity:active {
  opacity: 0.3;
}

/* Button */

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-no-style {
  border: none;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  cursor: pointer;
  color: var(--black);
}

.btn {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 41%,
    var(--special-yellow-dark) 41%,
    var(--special-yellow-dark) 61%,
    transparent 61%,
    transparent
  );
  transition-duration: 20s;
  transition-property: background-image;
  display: flex;
  width: 220px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn:hover {
  background-color: var(--special-yellow-dark);
}

.btn:active {
  background-color: var(--special-yellow-dark);
  color: var(--black-opacity-0-3);
}

/* Header */

/* Logo */

.main-nav__logo {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 56%,
    var(--special-yellow) 56%,
    var(--special-yellow)
  );
}

/* Form */

.main-nav__form {
  width: 440px;
  height: min-content;
  position: relative;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 22px;
  align-items: center;
}

.main-nav__form-input-btn {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 2px solid var(--black);
  padding: 14px 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__form-input:focus ~ .main-nav__form-input-btn {
  visibility: visible;
}

.main-nav__form-input-btn:hover {
  background-color: var(--black);
  color: white;
}

.main-nav__form-input-btn:active {
  visibility: visible;
  background-color: var(--black);
  color: var(--white-opacity-0-3);
}

.main-nav__form-label::before {
  position: relative;
  content: "";
  display: block;
  background: url("../img/icon-search.svg") no-repeat center center;
  width: 16px;
  height: 16px;
  top: -1px;
  left: 0;
}

.main-nav__form-input,
.main-nav__form-input:hover,
.main-nav__form-input:active {
  background-color: transparent;
  border: none;
}

.main-nav__form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__form-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__form-input:active::-webkit-input-placeholder {
  color: var(--black);
}

.main-nav__form-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__form-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__form-input:active::-moz-placeholder {
  color: var(--black);
}

.main-nav__form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__form-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__form-input:active:-ms-input-placeholder {
  color: var(--black);
}

.main-nav__form-input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__form-input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__form-input:active:-moz-placeholder {
  color: var(--black);
}

.main-nav__form-label {
  position: absolute;
}

.main-nav__form-input {
  width: 360px;
  padding: 15px 17px 15px 38px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-nav__form-input:focus {
  outline: none;
  box-shadow: 0 2px 0 0 var(--black);
}

/* Main nav */

.nav-item-layout {
  display: grid;
  padding: 13px 20px;
  grid-template-columns: 13px 1fr;
  column-gap: 11px;
  align-items: start;
}

.main-footer__item:nth-of-type(2) {
  margin-left: 1px;
}

.main-nav__item-3,
.main-nav__item:last-child .nav-item-layout,
.main-footer__item:last-child .nav-item-layout {
  padding-right: 0;
}

.main-nav__item-2 {
  display: grid;
  grid-template-columns: 14px 1fr;
  column-gap: 12px;
  align-items: center;
  padding-right: 23px;
}

.main-nav__item-2::before {
  position: relative;
  top: 1px;
  content: "";
  width: 14px;
  height: 14px;
  background: url("../img/icon-chart.svg") no-repeat center center;
}

.main-nav__item-3 {
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 12px;
  align-items: center;
}

.main-nav__item-3::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/icon-cart.svg") no-repeat center center;
}

/* Sub nav */

.main-nav__subnav-item {
  letter-spacing: 0.2em;
}

.main-nav__subnav-link-1 {
  display: grid;
  grid-template-columns: 1fr 22px;
  column-gap: 13px;
  align-items: center;
}

.main-nav__subnav-link-1::after {
  content: "";
  display: block;
  background: url("../img/icon-catalog-drop.svg") no-repeat center center;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
}

/* Drop nav */

.main-nav__dropnav {
  visibility: hidden;
}

.main-nav__subnav-list-left:hover .main-nav__dropnav {
  visibility: visible;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: min-content;
  top: 110px;
  left: 0;
  z-index: 2;
  padding: 25px 0 42px;
  background-color: var(--special-yellow);
  box-sizing: border-box;
}

.main-nav__dropnav-list {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  margin-left: 64px;
}

.main-nav__dropnav-list:first-child {
  margin-left: 60px;
}

.main-nav__dropnav-list:last-child {
  margin-left: 63px;
}

.main-nav__dropnav-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.main-nav__dropnav-item:last-child {
  margin-bottom: 0;
}

/* Footer */

.main-footer {
  background-color: var(--grey-dark, #363636);
  color: var(--white);
}

.main-footer a {
  color: var(--white);
}

.main-footer__logo-img {
  fill: var(--special-yellow-dark, #f0c52e);
}

.main-footer__logo {
  grid-area: logo;
  padding: 20px 30px 20px 0;
  margin: 11px 0 9px;
}

/* Address */

.address,
.tel {
  font-style: normal;
  margin: 0 0 48px;
}

.address__text {
  margin: 0;
  padding-top: 7px;
}

/* Social */

.social__item:hover .social__button {
  fill-opacity: 0.6;
}

.social__item:active .social__button {
  opacity: 0.1;
}

/* Index.html <main> */

/* Promo */

.promo {
  min-height: 495px;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--special-yellow),
    var(--special-yellow) 114px,
    transparent 114px,
    transparent
  );
  margin: 0;
}

.promo__title {
  margin: 70px 0 0;
  letter-spacing: normal;
  position: relative;
  z-index: 1;
}

.promo__text {
  padding: 26px 0 0;
  margin: 0;
}

.promo__item-btn {
  margin: 51px 0 52px;
}

.promo__item-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.promo__slider-controlers {
  position: absolute;
  right: 88px;
  top: 325px;
  display: flex;
  justify-content: flex-end;
}

.promo__slider-controler-btn {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: transparent;
}

.promo__slider-btn--current::before {
  display: flex;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid var(--black);
  border-radius: 50%;
  box-sizing: border-box;
}

.promo__slider-controler-btn:last-child {
  margin-right: 0;
}

.promo__description-list {
  display: flex;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.promo__description-item {
  display: grid;
  margin-right: 61px;
}

.promo__description-item:last-child {
  margin: 0;
}

.promo__description-term {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  padding: 0;
  margin: 0;
}

.promo__description-definition {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 15px 0;
  padding: 0;
  order: -1;
}

.promo__item-3::after {
  position: absolute;
  z-index: 0;
  content: "03";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  color: var(--white);
  top: 68px;
  right: 53px;
}

.promo__item-2::after {
  position: absolute;
  z-index: 0;
  content: "02";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  color: var(--white);
  top: 68px;
  right: 53.7px;
}

.promo__item-1::after {
  position: absolute;
  z-index: 0;
  content: "01";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  color: var(--white);
  top: 68px;
  right: 47px;
}

.promo__title::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: -59px;
  left: 0;
  background-color: var(--white);
}

/* Products */

.products__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.products__item:nth-child(4) .products__title {
  letter-spacing: normal;
}

.products__item {
  width: 160px;
  position: relative;
}

.products__product-1::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-1::after {
  background: url("../img/product-1.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 160px;
  height: 160px;
  background-size: 97px 55px;
  margin: 0 0 38px 0;
}

.products__item-1:active .products__product-1::after {
  opacity: 0.3;
}

.products__item-1:active .products__product-1 {
  color: var(--black-opacity-0-3);
}

.products__item-1:hover .products__product-1::before,
.products__item-1:active .products__product-1::before {
  background-color: var(--special-yellow-dark);
}

.products__product-2::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-2::after {
  background: url("../img/product-2.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 4px;
  width: 160px;
  height: 160px;
  background-size: 86px 117px;
  margin: 0 0 38px 0;
}

.products__item-2:active .products__product-2::after {
  opacity: 0.3;
}

.products__item-2:active .products__product-2 {
  color: var(--black-opacity-0-3);
}

.products__item-2:hover .products__product-2::before,
.products__item-2:active .products__product-2::before {
  background-color: var(--special-yellow-dark);
}

.products__product-3::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-3::after {
  background: url("../img/product-3.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -1px;
  width: 160px;
  height: 160px;
  background-size: 71px 87px;
  margin: 0 0 38px 0;
}

.products__item-3:active .products__product-3::after {
  opacity: 0.3;
}

.products__item-3:active .products__product-3 {
  color: var(--black-opacity-0-3);
}

.products__item-3:hover .products__product-3::before,
.products__item-3:active .products__product-3::before {
  background-color: var(--special-yellow-dark);
}

.products__product-4::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-4::after {
  background: url("../img/product-4.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 160px;
  height: 160px;
  background-size: 107px 65px;
  margin: 0 0 38px 0;
}

.products__item-4:active .products__product-4::after {
  opacity: 0.3;
}

.products__item-4:active .products__product-4 {
  color: var(--black-opacity-0-3);
}

.products__item-4:hover .products__product-4::before,
.products__item-4:active .products__product-4::before {
  background-color: var(--special-yellow-dark);
}

.products__product-5::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-5::after {
  background: url("../img/product-5.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 160px;
  height: 160px;
  background-size: 56px 98px;
  margin: 0 0 38px 0;
}

.products__item-5:active .products__product-5::after {
  opacity: 0.3;
}

.products__item-5:active .products__product-5 {
  color: var(--black-opacity-0-3);
}

.products__item-5:hover .products__product-5::before,
.products__item-5:active .products__product-5::before {
  background-color: var(--special-yellow-dark);
}

.products__product-6::before {
  background-color: var(--special-yellow);
  content: "";
  display: block;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin: 0 0 38px 0;
}

.products__product-6::after {
  background: url("../img/product-6.svg") no-repeat 50% 50%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 160px;
  height: 160px;
  background-size: 132px 69px;
  margin: 0 0 38px 0;
}

.products__item-6:active .products__product-6::after {
  opacity: 0.3;
}

.products__item-6:active .products__product-6 {
  color: var(--black-opacity-0-3);
}

.products__item-6:hover .products__product-6::before,
.products__item-6:active .products__product-6::before {
  background-color: var(--special-yellow-dark);
}

/* Partners */

.partners__img-filters {
  filter: grayscale(1) opacity(0.3);
}

.partners__img-filters:hover,
.partners__img-filters:active {
  filter: grayscale(0) opacity(1);
}

/* Features */

.features {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 25.7%,
    var(--grey-light) 25.7%,
    var(--grey-light)
  );
  padding-bottom: 68px;
}

.features__nav {
  border-right: 7px solid var(--black);
}

.features__title {
  margin: 71px 0 40px 0.3px;
}

.features__text {
  width: 570px;
  line-height: 30px;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
}

.features__item-btn {
  width: 160px;
}

.features__btn--current .features__item-btn,
.features__btn--current .features__item-btn:hover,
.features__btn--current .features__item-btn:active,
.features__btn--current {
  background-image: none;
  background-color: var(--black);
  color: var(--special-yellow);
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}

.features__item:first-child {
  margin-top: 80px;
}

.features__item:last-child {
  margin: 23px 0 0;
}

.features__item-right {
  display: none;
}

.features__item-right--delivery::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background: url(../img/delivery.svg) no-repeat 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
  top: 0px;
  right: 2px;
}

.features__item-right--guarantee::after {
  position: absolute;
  content: "";
  top: -18px;
  right: -16px;
  width: 171px;
  height: 195px;
  background: url(../img/guarantee.svg) no-repeat 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.features__item-right--credit::after {
  position: absolute;
  content: "";
  top: -23px;
  right: 8px;
  width: 156px;
  height: 188px;
  background: url("../img/credit.svg") no-repeat 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.features__item-right--current {
  position: relative;
  display: block;
}

/* About us */

.about-us__link-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

/* Catalog.html <main> */

/* Main */
.inner-page {
  font-size: 14px;
  line-height: 19px;
}

/* Breadcrumbs */

.breadcrumbs__item:not(:last-child) a {
  opacity: 0.3;
}

.breadcrumbs__item:hover:not(:last-child) a {
  opacity: 0.6;
}

.breadcrumbs__item:active:not(:last-child) a {
  opacity: 0.1;
}

/* Filter */

.filter-form__group {
  padding-top: 14px;
  margin-bottom: 38px;
  border-top: 2px solid var(--black);
}

.filter-form__group:last-of-type {
  margin-bottom: 41px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-form__group-title {
  margin-bottom: 31px;
}

.filter-form__group-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.4px;
}

.filter-form__group-content {
  margin: 0 0 14.5px;
}

.filter-form__group-content:hover .filter__form-label-checkbox::before,
.filter-form__group-content:hover .filter__form-label-checkbox::after {
  opacity: 0.6;
}

.filter-form__group-content:active .filter__form-label-checkbox::before,
.filter-form__group-content:active .filter__form-label-checkbox::after {
  opacity: 1;
}

.filter-form__group-content:hover .filter__form-label-radio::before,
.filter-form__group-content:hover .filter__form-label-radio::after {
  opacity: 0.6;
}

.filter-form__group-content:active .filter__form-label-radio::before,
.filter-form__group-content:active .filter__form-label-radio::after {
  opacity: 1;
}

input[disabled] + .filter__form-label-checkbox {
  opacity: 0.25;
}

input[disabled] + .filter__form-label-radio {
  opacity: 0.25;
}

.filter-form__group-content:hover
  input[disabled]
  + .filter__form-label-checkbox::before {
  opacity: 1;
}

.filter-form__group-content:hover
  input[disabled]
  + .filter__form-label-radio::before {
  opacity: 1;
}

.filter-form__group-content:hover
  input[disabled]
  + .filter__form-label-checkbox::after {
  opacity: 1;
}

.filter-form__group-content:hover
  input[disabled]
  + .filter__form-label-radio::after {
  opacity: 1;
}

.filter-form__group-content:last-child {
  margin: 0;
}

.filter-form__btn {
  width: 200px;
  padding: 0;
}

.filter__form-input-checkbox:focus + .filter__form-label-checkbox {
  box-shadow: 0 0 0 2px white, 0 0 0 3px var(--black);
}

.filter__form-input-radio:focus + .filter__form-label-radio {
  box-shadow: 0 0 0 2px white, 0 0 0 3px var(--black);
}

/* Catalog */

.catalog-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.catalog-title__filter {
  align-self: center;
  margin: 0;
}

.catalog__sort {
  opacity: 0.3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__sort:hover {
  opacity: 0.6;
}

.catalog__sort:active {
  opacity: 1;
}

.catalog__sort--current {
  opacity: 1;
  cursor: default;
}

.catalog__sort--current:hover {
  opacity: 1;
}

.catalog__sort--current:active {
  opacity: 1;
}

.sort__btn-top-bottom {
  display: flex;
}

.sort__btn {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.catalog__sort:not(:last-child) {
  margin-right: 18.5px;
}

.catalog__sort-to-top {
  background-color: transparent;
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 16px;
  cursor: pointer;
}

.catalog__sort-to-top::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-sort.svg") no-repeat center center;
  background-size: 10px 11px;
  transform: rotate(180deg);
}

.catalog__sort-to-bottom {
  background-color: transparent;
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.catalog__sort-to-bottom::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: transparent url("../img/icon-sort.svg") no-repeat center center;
  background-size: 10px 11px;
}

.catalog__sort-to {
  opacity: 0.2;
}

.catalog__sort-to:hover {
  opacity: 0.4;
}

.catalog__sort-to:active {
  opacity: 1;
}

.catalog__sort-to--current {
  opacity: 1;
  cursor: default;
}

.catalog__sort-to--current:hover {
  opacity: 1;
}

.catalog__sort-to--current:active {
  opacity: 1;
}

/* Catalog items */

.catalog__item {
  width: 360px;
}

.catalog__item-content {
  display: grid;
  grid-template-columns: 1fr 85px;
  column-gap: 11px;
  align-items: baseline;
}

.catalog__item-content-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 31px 0 8px;
}

.catalog__hover-item {
  display: none;
}

.catalog__items-hover {
  display: grid;
}

.catalog__item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.catalog__items-hover:hover .catalog__hover-item {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: min-content 1fr;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--catalog-item-hover);
}

.catalog__item-new {
  position: relative;
}

.catalog__item-new::before {
  position: absolute;
  z-index: 1;
  display: flex;
  content: "NEW";
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.catalog__item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: end;
}

.catalog__hover-item-compare {
  align-self: start;
  margin-top: 12px;
  opacity: 0.5;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--black);
}

.catalog__hover-item-compare:hover {
  opacity: 1;
}

.catalog__hover-item-compare:active {
  opacity: 0.2;
}

.catalog__hover-item-to-cart {
  width: 200px;
  margin-top: 171px;
}

/* Pagination */

.catalog__nav {
  width: 760px;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--pagination);
  margin: 0 0 78px 72px;
  align-items: center;
  justify-items: center;
}

.catalog__nav-btn {
  display: flex;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: var(--black);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.catalog__nav-btn:hover {
  background-color: var(--pagination-hover);
}

.catalog__nav-btn:active {
  background-color: var(--pagination-hover);
  color: var(--black-opacity-0-3);
}

.catalog__nav-btn--current:hover {
  background-color: transparent;
  cursor: auto;
}

.catalog__nav-btn--current:active {
  color: inherit;
}

.catalog__nav-item {
  opacity: 0.3;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.catalog__nav-item:hover {
  opacity: 0.6;
}

.catalog__nav-item:active {
  opacity: 1;
}

.catalog__nav-item--current,
.catalog__nav-item--current:hover {
  opacity: 1;
}

/* Layout */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Layout <header> */

/* Layout <header> .logo */

.main-header-logo {
  display: block;
  width: min-content;
  padding: 20px 60px 12px;
}

.main-nav {
  max-width: 1160px;
  display: grid;
  margin: 0 auto;
}

.main-nav__container {
  position: relative;
  display: grid;
  padding: 0 60px 0;
  background-color: var(--special-yellow);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "form main-nav"
    "sub-nav-1 sub-nav-2";
}

/* Layou <header> for form */

.main-nav__form {
  grid-area: form;
}

/* Layout <header> for main-nav__list */

.main-nav__list {
  grid-area: main-nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-nav__item:last-child {
  margin-right: auto;
}

/* Layot <header> for .main-nav__subnav-list */

.main-nav__subnav-list-left {
  width: max-content;
  height: 105px;
  grid-area: sub-nav-1;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__subnav-list-right {
  grid-area: sub-nav-2;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__subnav-item {
  height: min-content;
  margin: 11px 0 0;
}

.main-nav__subnav-link {
  padding: 22px 20px 20px 0.5px;
}

.main-nav__subnav-link-part-2 {
  display: grid;
  padding-left: 20px;
}

.main-nav__subnav-item-part-2:nth-child(3n) .main-nav__subnav-link-part-2,
.main-nav__subnav-item-part-2:last-child .main-nav__subnav-link-part-2 {
  padding-right: 0;
}

.main-nav__subnav-item-part-2 {
  margin-right: -5px;
}

.main-nav__subnav-item-part-2:nth-child(3n) {
  margin: 11px -4px 0 auto;
}

/* Layout <footer> */

.main-footer {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

.main-footer__container {
  width: 1160px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 215px 1fr 215px;
  grid-template-areas:
    "logo menu menu"
    "address sub-menu tel"
    ". social logo-htmlacademy";
  padding: 33px 0;
}

.main-footer__main-nav-item-icon {
  position: relative;
  right: 1px;
  top: 4px;
}

.main-footer__nav-item-chart {
  top: 5px;
}

.main-footer__menu-nav-chart {
  top: 2px;
}

.main-footer__main-nav-item-cart {
  top: 5px;
  right: -2px;
}

.main-footer__nav-item:last-child {
  padding-right: 0;
}

.main-footer__nav-list {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.address {
  grid-area: address;
}

.tel {
  grid-area: tel;
  width: 100%;
  text-align: end;
}

.tel__text {
  padding: 7px 0 0;
  margin: 0;
}

.main-footer__subnav-list {
  grid-area: sub-menu;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6px 0 0 3px;
}

.main-footer__subnav-item {
  margin-right: 33px;
}

.main-footer__subnav-item:last-child {
  margin-right: 0;
}

.social__list::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: 12px;
  left: -215px;
  background-color: var(--footer-line);
}

.social__list {
  position: relative;
  grid-area: social;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.logo-htmlacademy {
  grid-area: logo-htmlacademy;
  position: relative;
  justify-self: end;
  top: -1px;
}

/* Layout <main> for index.html */

/* Layout <main> */

.main__container {
  width: 1160px;
  display: grid;
  margin: 0 auto;
  gap: 75px;
}

/* Layout .promo */

.promo__list {
  display: grid;
  row-gap: 100px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  gap: 30px;
}

.promo__item {
  display: none;
  padding: 0 60px 0 60px;
  grid-template-columns: repeat(2, 1fr);
}

.promo__item-left-column {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding: 8px 0 0 20px;
}

.promo__img {
  padding-left: 29px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.promo__img-1 {
  width: 526px;
  height: 334px;
  padding: 0;
  margin: 70px 0 0 -27px;
}

.promo__img-2 {
  padding: 10px 0 0 56px;
}

.promo__img-3 {
  margin-top: -15px;
}

.promo__item--current {
  position: relative;
  display: grid;
}

/* Layout .products */

.products {
  grid-row: 2 / 3;
}

.products__title {
  position: relative;
  text-transform: none;
  margin: 0;
  padding: 0;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  column-gap: 40px;
  margin: 0;
  padding: 20px 0;
}

.products__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.products__item:last-child {
  margin-right: 0;
}

/* Layout .features */

.features {
  margin: 64px 0 90px 0;
}

.features__container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-row: 3 / 4;
  gap: 116px;
  grid-template-columns: 284px 1fr;
  grid-template-rows: 320px;
}

/* Layout .partners */

.partners {
  display: grid;
  margin-bottom: 15px;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

/* Layout .wrapper (.about-us and .contacts) */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.about-us__services-item {
  display: grid;
  grid-template-columns: 8px 1fr;
  column-gap: 24px;
  align-items: center;
  margin-bottom: 15px;
}

.about-us__services-item:last-child {
  margin-bottom: 0;
}

.about-us__services-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--grey-light);
  border-radius: 50%;
  box-sizing: border-box;
}

.about-us {
  padding-right: 60px;
}

.wrapper__title {
  position: relative;
  margin: 57px 0 40px 0;
}

.wrapper__title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: -57px;
  left: 0;
  background-color: var(--black);
}

.wrapper-text {
  margin: 0;
  padding: 0;
  line-height: 28px;
}

.about-us__text {
  margin: 40px 0 60px 0;
}

.contacts__text {
  margin-bottom: 40px;
}

.contacts__btn {
  min-width: 260px;
  margin: 76px 0 77px 0;
}

.about-us__btn {
  min-width: 260px;
  margin: 68px 0 77px 0;
}

/* Layout <main> for catalog.html */

/* Layout .inner-page */

.inner-page {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    ". h1 h1 ."
    ". breadcrumbs breadcrumbs ."
    ". filter catalog catalog";
}

.inner-page__title {
  grid-area: h1;
  margin: 44px 0 0 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs__list {
  grid-area: breadcrumbs;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 40px 60px;
}

.breadcrumbs__item {
  margin-bottom: 10px;
}

.breadcrumbs__item:not(:last-child) {
  display: grid;
  grid-template-columns: 1fr 12px;
  column-gap: 14px;
  margin-right: 15px;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: block;
  background: url("../img/icon-breadcrumbs-arrow.svg") no-repeat center center;
  width: 12px;
  height: 12px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
  opacity: 0.3;
}

.filter {
  grid-area: filter;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.filter__title {
  height: 100%;
  display: grid;
  position: relative;
  align-items: center;
  padding: 0 68px 0 60px;
  letter-spacing: 0.1em;
}

.catalog-title-sort {
  letter-spacing: 0.1em;
  margin-right: 67px;
}

.filter__title::after {
  width: 100vw;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--filter-heading);
}

.filter__form {
  max-width: 328px;
  position: relative;
  padding: 70px 68px 70px 60px;
  box-sizing: border-box;
}

.filter__form::after {
  width: 100vw;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--grey-light);
}

.filter__form-label-checkbox,
.filter__form-label-radio {
  position: relative;
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 18px;
  align-items: center;
}

.filter__form-label-checkbox::before {
  content: "";
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 24px;
  height: 24px;
  border: 2px solid var(--black);
  border-radius: 2px;
  box-sizing: border-box;
}

.filter__form-label-checkbox {
  cursor: pointer;
}

.fieldset-checkbox input:checked + .filter__form-label-checkbox::after {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  content: "";
  width: 13.5px;
  height: 10.5px;
  align-self: center;
  justify-self: center;
  background: url("../img/icon-checked.svg") no-repeat center center;
}

.filter__form-label-radio::before {
  content: "";
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 24px;
  height: 24px;
  border: 2px solid var(--black);
  border-radius: 50%;
  box-sizing: border-box;
}

.filter__form-label-radio {
  cursor: pointer;
}

.fieldset-radio input:checked + .filter__form-label-radio::after {
  content: "";
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 8px;
  height: 8px;
  align-self: center;
  justify-self: center;
  background-color: var(--black);
  border-radius: 50%;
  box-sizing: border-box;
}

.catalog {
  grid-area: catalog;
  display: grid;
  grid-template-columns: 832px 1fr;
  grid-template-rows: 70px min-content 1fr;
}

.sort {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
}

.catalog::after {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  content: "";
  display: block;
  z-index: -1;
  background-color: var(--grey-light);
}

.catalog__list {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 69px 0 31px 72px;
}

.catalog__nav {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}

.catalog__nav-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

.axis {
  flex-basis: 100%;
  flex-grow: 1;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  margin: 7px 0 15px;
  /* range */
  --range-start: 0%;
  --range-end: 60%;
  --range-end-num: calc(var(--range-end) - var(--range-start));
  /* range */
}

.bar {
  position: relative;
  /* range */
  width: var(--range-end-num);
  margin-left: var(--range-start);
  /* range */
  height: 2px;
  background-color: #91c92f;
}

.bar__start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border: 8px solid white;
  background-color: #c4c4c4;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.bar__end::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border: 8px solid white;
  background-color: #c4c4c4;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.filter-form__range-label {
  display: flex;
}

.min-price {
  width: auto;
  margin-right: 15px;
}

.min-price-input {
  width: 60px;
  background-color: transparent;
  border: none;
}

.max-price {
  min-width: auto;
}

.max-price-input {
  width: 70px;
  background-color: transparent;
  border: none;
}

/* Modal */

.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

/* Map */

.map-modal {
  width: 960px;
  height: 572px;
}

/* Feedback Modal  */

.feedback-modal {
  width: 960px;
  height: 550px;
  padding: 92px 100px 50px;
}

.feedback-modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.feedback-modal__form-input {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
}

.feedback-modal__message {
  margin: 32px 0 44px;
}

.feedback-modal__message {
  grid-column: 1 / -1;
}

.form-label {
  text-transform: none;
}

.feedback-modal__form-input {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 16px 20px 15px;
  background-color: var(--grey-lighen);
  box-sizing: border-box;
}

.feedback-modal__form-input:hover {
  background-color: var(--grey-darken);
}

.feedback-modal__form-input:focus {
  background-color: transparent;
  outline: 2px solid var(--special-yellow);
  color: var(--black);
}

.feedback-modal__form-input:invalid {
  background-color: var(--red-light);
  outline: 2px solid var(--red-light);
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 29px;
  right: 29px;
  border: none;
  border-radius: 50%;
  background: var(--special-yellow-dark) url("../img/icon-cross.svg") no-repeat
    center center;
  background-size: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.feedback-modal__close {
  top: 20px;
  right: 20px;
}

.feedback-modal__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: normal;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.7;
}

.feedback-modal__btn {
  width: 200px;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 42%,
    var(--special-yellow) 42%,
    var(--special-yellow) 62%,
    transparent 62%,
    transparent
  );
}

.feedback-modal__btn:hover,
.feedback-modal__btn:active {
  background-color: var(--special-yellow);
}

.layout-user {
  flex-grow: 1;
}

.layout-user::before {
  position: relative;
  top: 4px;
  content: "";
  width: 13px;
  height: 14px;
  background: url("../img/icon-user.svg") no-repeat center center;
}

.sign-out .main-nav__user .user-sign-in,
.sign-out .main-footer__user .user-sign-in {
  display: none;
}

.sign-out .main-nav__user,
.sign-out .main-footer__user {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.sign-out .main-footer__user {
  column-gap: 24px;
}

.user-sign-out,
.user {
  display: none;
}

.sign-out .main-nav__user .user-sign-out,
.sign-out .main-footer__user .user-sign-out,
.sign-out .main-nav__user .user,
.sign-out .main-footer__user .user {
  display: block;
}

/* :hover :active nav-footer */

.main-footer__item {
  color: var(--white-opacity-0-7);
}

.main-footer__item .nav-item-layout {
  color: inherit;
}

.main-footer__item:hover {
  color: var(--white);
}

.main-footer__item .nav-item-layout:hover {
  color: inherit;
}

.main-footer__item:hover .main-footer__main-nav-item-icon {
  opacity: 0.6;
}

.main-footer__item:active .nav-item-layout {
  color: var(--white-opacity-0-3);
}

.main-footer__item:active .main-footer__main-nav-item-icon {
  opacity: 0.3;
}

.sign-out .main-nav__user .user-sign-out {
  opacity: 0.3;
}

.sign-out .main-nav__user .user-sign-out:hover {
  opacity: 0.6;
}

.sign-out .main-nav__user .user-sign-out:active {
  opacity: 0.3;
}

/* sign-in */

.main-nav__list .sign-in:hover {
  opacity: 0.6;
}

.main-nav__list .sign-in:active {
  opacity: 0.3;
}

/* :hover :active user-nav in footer */

.main-footer__nav-list .sign-out .main-footer__user .user-sign-out {
  opacity: 0.7;
}

.main-footer__nav-list .sign-out .main-footer__main-nav-item-icon {
  opacity: 1;
}

.main-footer__nav-list .sign-out .main-footer__user .user-sign-out:hover {
  opacity: 1;
}

.main-footer__nav-list .sign-out:hover .main-footer__main-nav-item-icon {
  opacity: 1;
}

.main-footer__nav-list .sign-out .main-footer__user .user-sign-out:active {
  opacity: 0.3;
}

/* sign-in */

.main-footer__nav-list .sign-in .main-footer__user {
  opacity: 0.7;
}

.main-footer__nav-list .sign-in .main-footer__main-nav-item-icon {
  opacity: 1;
}

.main-footer__nav-list .sign-in:hover .main-footer__user {
  opacity: 1;
}

.main-footer__nav-list .sign-in:hover .main-footer__main-nav-item-icon {
  opacity: 0.6;
}

.main-footer__nav-list .sign-in:active {
  opacity: 0.3;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* blank page*/

.main-content-404__container {
  background: url("../img/404.png") no-repeat 0 center;
}
